* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {

    font-family: 'Montserrat';
    background: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper {
   background: #fff;
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
   box-shadow: 5px 9px 20px 0px rgba(0,0,0,0.15);
}

.sidebar {
   background: #1e2939;
   width: 370px;
   padding-top: 35px;
   padding-bottom: 20px;
}

.my-photo {
   width: 370px;
}

.my-photo-social {
   width: 25px;
   height: 25px;
}

.my-photo-youtube {
   width: 75px;
   height: 15px;
}

.about-me-container {
   padding-left: 60px;
   padding-right: 60px;
   padding-top: 30px;
   padding-bottom: 30px;
}

.contacts-container {
   margin-top: 30px;
   margin-left: 40px;
   margin-right: 40px;
}

.contacts-title {
   font-size: 22px;
   line-height: 24px;
   font-weight: 700;
   color: #fff;
   margin-bottom: 20px;
}

.contacts-link {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #8f949c;
}

.contacts-link-type {
   font-size: 14px;
   line-height: 24px;
   font-weight: 700;
   color: #fff;
   margin-right: 30px;
}

.contacts-link-type1 {
   font-size: 14px;
   line-height: 24px;
   font-weight: 700;
   color: #fff;
   margin-right: 10px;
}

.tech-skills-container {
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 30px;   
}

.tech-skills-title {
   font-size: 22px;
   line-height: 24px;
   font-weight: 700;
   color: #fff;
   margin-bottom: 10px;
}

.tech-skills-item {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #e9650c;
   margin-left: 15px;
}

.tech-skills-text {
   color: #d2d4d7;
}
   
.soft-skills-container {
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 30px; 
}

.soft-skills-title {
   font-size: 22px;
   line-height: 24px;
   font-weight: 700;
   color: #fff;
   margin-bottom: 10px;
}

.soft-skills-item {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #f86908;
   margin-left: 15px;
}

.soft-skills-text {
   color: #d2d4d7;
}

.additional-info-container {
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 30px; 
}

.additional-info-title {
   font-size: 22px;
   line-height: 24px;
   font-weight: 700;
   color: #fff;
   margin-bottom: 10px;
}

.additional-info-item {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   color: #f86908;
   margin-left: 15px;
}

.additional-info-text{
   color: #d2d4d7
}

.profession {
   font-size: 18px;
   line-height: 26px;
   font-weight: 700;
   color: #ff7214;
}

.name {
   font-size: 45px;
   line-height: 89px;
   font-weight: 700;
   color: #000;
}

.description {
   font-size: 18px;
   line-height: 24px;
   font-weight: 400;
   margin-bottom: 24px;
   color: #595959;
}

.description-title {
   color: #000;
}

.item-indent {
   margin-top: 15px;
   margin-left: 15px;
}

.discription-item {
   font-size: 18px;
   line-height: 24px;
   font-weight: 400;
   margin-left: 20px;
   color: #595959;
}

.discription-item-text {
   color: #595959;
}

.discription-item-text-link {
   font-size: 16px;
   color: #595959;
}

.info-container {
   margin-bottom: 15px;
}

.evolution {
   margin-top: 25px;
   color: #000;
}

.education-title {
   font-size: 26px;
   line-height: 24px;
   font-weight: 700;
   color: #000;
   margin-top: 50px;
   margin-bottom: 10px;
}

.education-university {
   font-size: 18px;
   line-height: 24px;
   font-weight: 800;
   margin-top: 15px;
   margin-bottom: 5px;
   color: #ff6b08;
}

.education-faculty {
   font-size: 14px;
   line-height: 24px;
   font-weight: 700;
   margin-bottom: 5px;
   color: #000;
}

.education-time {
   font-size: 12px;
   line-height: 24px;
   font-weight: 400;
   color: #a8a8a8;
}

.education-divider {
   color: #000;
}

.social-network-title {
   font-size: 26px;
   line-height: 24px;
   font-weight: 700;
   color: #000;
   margin-top: 40px;
   margin-bottom: 10px;
}
